[ActionPlugins][1]
RightButton;NoModifier=org.kde.latte.contextmenu

[Containments][1]
activityId=
byPassWM=false
dockWindowBehavior=true
enableKWinEdges=true
formfactor=2
immutability=1
isPreferredForShortcuts=false
lastScreen=13
location=4
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
settingsComplexity=4
timerHide=700
timerShow=200
viewType=1
visibility=0
wallpaperplugin=org.kde.image

[Containments][1][Applets][129]
immutability=1
plugin=org.kde.plasma.systemtray

[Containments][1][Applets][129][Configuration]
PreloadWeight=4
SystrayContainmentId=130

[Containments][1][Applets][2]
immutability=1
plugin=org.kde.latte.plasmoid

[Containments][1][Applets][2][Configuration]
PreloadWeight=0

[Containments][1][Applets][2][Configuration][General]
animationLauncherBouncing=false
animationWindowInAttention=false
hoverAction=PreviewWindows
infoBadgeProminentColorEnabled=true
launchers59=applications:org.kde.dolphin.desktop,applications:org.kde.konsole.desktop,applications:org.kde.kdeconnect.app.desktop,applications:firefox.desktop,applications:vlc.desktop
showWindowActions=true
taskScrollAction=ScrollNone

[Containments][1][Applets][275]
immutability=1
plugin=org.kde.latte.spacer

[Containments][1][Applets][275][Configuration]
PreloadWeight=0

[Containments][1][Applets][275][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][1][Applets][275][Configuration][General]
containmentType=Latte
lengthPixels=10

[Containments][1][Applets][277]
immutability=1
plugin=org.kde.latte.spacer

[Containments][1][Applets][277][Configuration]
PreloadWeight=0

[Containments][1][Applets][277][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][1][Applets][277][Configuration][General]
containmentType=Latte
lengthPixels=5

[Containments][1][Applets][293]
immutability=1
plugin=org.kde.latte.spacer

[Containments][1][Applets][293][Configuration]
PreloadWeight=0

[Containments][1][Applets][293][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][1][Applets][293][Configuration][General]
containmentType=Latte
lengthPixels=30

[Containments][1][Applets][295]
immutability=1
plugin=org.kde.netspeedWidget

[Containments][1][Applets][295][Configuration]
PreloadWeight=0

[Containments][1][Applets][295][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][1][Applets][295][Configuration][General]
shortUnits=true
speedUnits=bits

[Containments][1][Applets][298]
immutability=1
plugin=menuX

[Containments][1][Applets][298][Configuration]
PreloadWeight=100

[Containments][1][Applets][298][Configuration][ConfigDialog]
DialogHeight=600
DialogWidth=800

[Containments][1][Applets][298][Configuration][General]
alphaSort=true
customButtonImage=/home/varsfaust/projects/LatteDock-Layouts/win10X/winLogo_Black1.png
favoritesPortedToKAstats=true
showIconsRootLevel=true
useCustomButtonImage=true

[Containments][1][Applets][300]
immutability=1
plugin=menuZ

[Containments][1][Applets][300][Configuration]
PreloadWeight=100

[Containments][1][Applets][300][Configuration][ConfigDialog]
DialogHeight=600
DialogWidth=800

[Containments][1][Applets][300][Configuration][General]
alignResultsToBottom=false
alphaSort=true
favoritesPortedToKAstats=true
limitDepth=true

[Containments][1][Applets][302]
immutability=1
plugin=org.kde.plasma.digitalclock.wl

[Containments][1][Applets][302][Configuration]
PreloadWeight=4

[Containments][1][Applets][302][Configuration][Appearance]
bold=false
marginSize=35

[Containments][1][Applets][302][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][1][Applets][310]
immutability=1
plugin=com.github.zren.tiledmenu

[Containments][1][Applets][310][Configuration]
PreloadWeight=19

[Containments][1][Applets][310][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][1][Applets][310][Configuration][General]
defaultTileColor=#00000000
icon=/home/rikil/Pictures/win10logowhite.png
searchFieldFollowsTheme=true
searchFieldHeight=39
sidebarShortcuts=xdg:DOWNLOAD,xdg:PICTURES,org.kde.dolphin.desktop,systemsettings.desktop
tileModel=W3sieCI6MCwieSI6MCwidyI6MiwiaCI6MiwidXJsIjoiYmxlbmRlci5kZXNrdG9wIn0seyJ4IjoyLCJ5IjowLCJ3IjoyLCJoIjoyLCJ1cmwiOiJjb2RlLW9zcy5kZXNrdG9wIn0seyJ4Ijo0LCJ5IjowLCJ3IjoyLCJoIjoyLCJ1cmwiOiJkZWFkYmVlZi5kZXNrdG9wIn1d

[Containments][1][Applets][310][Shortcuts]
global=Alt+F1

[Containments][1][Applets][311]
immutability=1
plugin=org.kde.plasma.pager

[Containments][1][Applets][311][Configuration]
PreloadWeight=0

[Containments][1][Applets][311][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][1][Applets][311][Configuration][General]
wrapPage=true

[Containments][1][Applets][312]
immutability=1
plugin=org.kde.milou

[Containments][1][Applets][312][Configuration]
PreloadWeight=0

[Containments][1][Applets][312][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][1][Applets][313]
immutability=1
plugin=org.kde.latte.spacer

[Containments][1][Applets][313][Configuration]
PreloadWeight=0

[Containments][1][Applets][313][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][1][Applets][313][Configuration][General]
containmentType=Latte
lengthPixels=12

[Containments][1][ConfigDialog]
DialogHeight=965
DialogWidth=539

[Containments][1][Configuration]
PreloadWeight=0

[Containments][1][General]
advanced=false
alignment=10
alignmentUpgraded=true
animationLauncherBouncing=false
animationWindowAddedInGroup=false
animationWindowInAttention=false
appletOrder=277;310;312;293;2;311;295;129;313;302;275
appletShadowsEnabled=false
autoSizeEnabled=false
configurationSticker=true
dragActiveWindowEnabled=true
durationTime=x3
editBackgroundOpacity=0.30000000000000004
fittsLawIsRequested=false
hoverAction=PreviewAndHighlightWindows
iconSize=28
infoBadgeProminentColorEnabled=true
lengthExtMargin=10
modifierClickAction=NewInstance
panelPosition=10
panelSize=100
panelTransparency=76
shadowColor=55557f
shadowOpacity=20
shadowSize=20
shadows=All
shadowsUpgraded=true
showGlow=false
showWindowActions=true
solidBackgroundForMaximized=true
splitterPosition=5
splitterPosition2=6
taskScrollAction=ScrollNone
tasksUpgraded=true
themeColors=SmartThemeColors
titleTooltips=false
zoomLevel=0

[Containments][1][Indicator]
customType=org.kde.latte.win10
enabled=true
enabledForApplets=false
padding=0.23000000417232513
type=org.kde.latte.win10

[Containments][1][Indicator][org.kde.latte.default][General]
enabledForApplets=false
extraDotOnActive=true
glowEnabled=true
glowOpacity=0.4
lengthPadding=0.15
minimizedTaskColoredDifferently=true

[Containments][1][Indicator][org.kde.latte.plasma][General]
clickedAnimationEnabled=true
lengthPadding=0.1

[Containments][1][Indicator][org.kde.latte.win10][General]
appletPadding=0.2
enabledForApplets=false
lengthPadding=0.3
lineThickness=0.13
maxBackgroundOpacity=1

[Containments][130]
PreloadWeight=0
activityId=
formfactor=2
immutability=1
lastScreen=13
location=4
plugin=org.kde.plasma.private.systemtray
wallpaperplugin=org.kde.image

[Containments][130][Applets][131]
immutability=1
plugin=org.kde.plasma.volume

[Containments][130][Applets][131][Configuration]
PreloadWeight=0

[Containments][130][Applets][132]
immutability=1
plugin=org.kde.plasma.clipboard

[Containments][130][Applets][132][Configuration]
PreloadWeight=0

[Containments][130][Applets][133]
immutability=1
plugin=org.kde.plasma.devicenotifier

[Containments][130][Applets][133][Configuration]
PreloadWeight=0

[Containments][130][Applets][134]
immutability=1
plugin=org.kde.kdeconnect

[Containments][130][Applets][134][Configuration]
PreloadWeight=0

[Containments][130][Applets][135]
immutability=1
plugin=org.kde.plasma.keyboardindicator

[Containments][130][Applets][135][Configuration]
PreloadWeight=0

[Containments][130][Applets][136]
immutability=1
plugin=org.kde.plasma.notifications

[Containments][130][Applets][136][Configuration]
PreloadWeight=0

[Containments][130][Applets][137]
immutability=1
plugin=org.kde.plasma.printmanager

[Containments][130][Applets][137][Configuration]
PreloadWeight=0

[Containments][130][Applets][140]
immutability=1
plugin=org.kde.plasma.networkmanagement

[Containments][130][Applets][140][Configuration]
PreloadWeight=0

[Containments][130][Applets][265]
immutability=1
plugin=org.kde.plasma.nightcolorcontrol

[Containments][130][Applets][265][Configuration]
PreloadWeight=0

[Containments][130][Applets][268]
immutability=1
plugin=org.kde.kscreen

[Containments][130][Applets][268][Configuration]
PreloadWeight=0

[Containments][130][Applets][294]
immutability=1
plugin=touchpad

[Containments][130][Applets][294][Configuration]
PreloadWeight=0

[Containments][130][Applets][294][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][130][Applets][307]
immutability=1
plugin=org.kde.plasma.battery

[Containments][130][Applets][307][Configuration]
PreloadWeight=0

[Containments][130][Applets][308]
immutability=1
plugin=org.kde.plasma.mediacontroller_plus

[Containments][130][Applets][308][Configuration]
PreloadWeight=26

[Containments][130][Applets][309]
immutability=1
plugin=org.kde.plasma.mediacontroller

[Containments][130][Applets][309][Configuration]
PreloadWeight=10

[Containments][130][ConfigDialog]
DialogHeight=600
DialogWidth=800

[Containments][130][General]
extraItems=org.kde.plasma.devicenotifier,org.kde.plasma.bluetooth,org.kde.plasma.volume,org.kde.plasma.networkmanagement,org.kde.plasma.keyboardindicator,org.kde.plasma.vault,org.kde.plasma.notifications,org.kde.plasma.battery,org.kde.plasma.printmanager,org.kde.kdeconnect,org.kde.plasma.clipboard,org.kde.plasma.nightcolorcontrol,Update Manager,KDE Daemon,org.kde.kscreen,touchpad,org.kde.plasma.mediacontroller
hiddenItems=Update Manager,org.kde.kscreen,org.kde.plasma.notifications,org.kde.plasma.nightcolorcontrol,org.kde.plasma.keyboardindicator,touchpad,KDE Daemon
knownItems=org.kde.plasma.devicenotifier,org.kde.plasma.bluetooth,org.kde.plasma.volume,org.kde.plasma.networkmanagement,org.kde.plasma.keyboardindicator,org.kde.plasma.vault,org.kde.plasma.notifications,org.kde.plasma.mediacontroller,org.kde.plasma.battery,org.kde.plasma.printmanager,org.kde.kdeconnect,org.kde.plasma.clipboard,org.kde.plasma.mediacontroller_plus,org.kde.plasma.nightcolorcontrol

[LayoutSettings]
activities=1050da80-fab6-4d21-9b5c-00ebaec451ce
background=
backgroundStyle=0
color=blue
customBackground=
customTextColor=fcfcfc
disableBordersForMaximizedWindows=false
lastUsedActivity=6a18a9df-ef18-4a02-a154-2f4b291183d5
launchers=
preferredForShortcutsTouched=false
sharedLayout=
showInMenu=true
textColor=fcfcfc
version=2
